@import url(../styles/GlobalVar.css);
/* Navbar Style */
.navbar, .navbar-default{
    background-color: var(--lightblue);
    margin: 1rem;
    font-family: Lato;
    border-radius: 50px;
}
.navbar-brand, .nav-link{
    font-weight: 900;
    cursor: pointer;
    transition: color 0.2s;
    margin: 0rem 1.5rem;
    color: var(--white);
}
/* Navbar Hover item */
.navbar-brand:hover{
    color: var(--darkblue);
}
.nav-link:hover{
    color: var(--darkblue);
}