/* import font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');/*Inter*/

/* Variable style */
:root{
    /* color pallete */
    --white: #e3e3e3;
    --black: #000000;
    --lightblue: #4486EA;
    --selectedblue: rgba(67, 116, 190, 1);
    --darkblue: #10428C;
    /* responsive view pixel*/
    --res300px: calc(1vh + 300px); 
    --res30px: calc(1vh + 30px); 
    --res20px: calc(1vh + 20px); 
    --res10px: calc(1vh + 10px); 
    --res5px: calc(1vh + 5px);
    --res0px: 0px;
    /* responsive view point*/
    --res8pt: calc(1vh + 8pt); 
    --res12pt: calc(1vh + 12pt); 
    --res24pt: calc(1vh + 24pt);
    --res32pt: calc(1vh + 32pt);
    /* animation rules  */
    --linear: 0.1s linear;
    --ease-in: 0.1s ease-in;
    --ease-out: 0.1s ease-out;
    --ease-in-out: 0.1s ease-in-out;
    /* font weight (font bold) */
    --regular: 200;
    --medium: 600;
    --bold: 900;
}

/*Login Page Stylesheet*/
:root{
    margin: 0px;
    padding: 0px;
    background-color:rgb(179, 187, 255);
    font-family: Inter;
    -webkit-tap-highlight-color: transparent;
}

/* Card Login Style */
.Card{
    height: max-content;
    width: var(--res300px);
    background-color: var(--lightblue);
    border-radius: var(--res30px);
    padding: var(--res30px);
    word-wrap: break-word;
    position: absolute;
    transform: translate(-50%, 50%);
    color: var(--white);
    left: 50%;
    bottom: 50%;
}

.FormAlert{
    text-align: center;
    font-size: var(--res8px);
    color: rgb(255, 230, 0);
}

.InnerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--res10px);
}

.titleLogin{
    font-size: calc(1vw + 24pt);
    line-height: 10px;
    margin: calc(var(--res10px) + 24px);
}

#User{
    background-color: var(--white);
    padding: var(--res10px) var(--res30px);
    transition: outline var(--ease-in-out);
    border: none;
    border-radius: var(--res30px);
}

#User:focus{
    outline: solid var(--darkblue) 5px;
}

#Pass{
    background-color: var(--white);
    padding: var(--res10px) var(--res30px);
    transition: outline var(--ease-in-out);
    border: none;
    border-radius: var(--res30px);
}

#Pass:focus{
    outline: solid var(--darkblue) 5px;
}

#login{
    background-color: var(--white);
    border: none;
    border-radius: var(--res30px);
    padding: var(--res5px) var(--res10px);
    color: var(--black);
    transition: color var(--ease-in-out), background var(--ease-in-out);
    font-weight: 700;
    width: max-content;
}

#login:hover{
    background-color: var(--darkblue);
    color: var(--white);
}

/* Navbar */
.Navbar{
    display: flex;
    flex-direction: row;
    background-color: var(--lightblue);
    color: var(--white);
    font-weight: var(--bold);
    font-family: Inter;
    border-radius: var(--res30px);
    justify-content: space-between;
}

.Navbar, ul{
    display: flex;
    margin: var(--res0px);
    /* background-color: blue; */
}

.Navbar, ul, li{
    position: flex;
    list-style: none;
    /* gap: var(--res10px); */
    /* background-color: red; */
}

li {
    background-color: rgba(67, 116, 190, 0);
    display: block;
    border-radius: var(--res30px);
    cursor: pointer;
    transition: background-color var(--ease-in-out);
    padding: var(--res10px);
    cursor: pointer;
}

li:hover {
    background-color: var(--selectedblue);
}

.Nav_Brand{
    display: flex;
    flex-direction: row;
    font-size: var(--res8pt);
    font-weight: var(--bold);
    margin: var(--res10px);
}


/* Dashboard Page Stylesheet */