/* import font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');/*Inter*/

/* Variable style */
:root{
    --white: #e3e3e3;
    --lightblue: #4486EA;
    --selectedblue: #4374BE;
    --darkblue: #10428C;
    --res30px: calc(1vh + 30px); 
    --res10px: calc(1vh + 10px); 
    --res12pt: calc(1vh + 12pt); 
    --res24pt: calc(1vh + 24pt); 
    --linear: 0.1s linear;
    --ease-in: 0.1s ease-in;
    --ease-out: 0.1s ease-out;
    --ease-in-out: 0.1s ease-in-out;
}

/* mainpage */
:root{
    margin: 0px;
    padding: 0px;
    background-color:rgb(179, 187, 255);
    font-family: Inter;
}

/* Card Login Style */
.Card{
    height: max-content;
    width: max-content;
    background-color: var(--lightblue);
    border-radius: var(--res30px);
    padding: var(--res30px);
    word-wrap: break-word;
    position: absolute;
    transform: translate(-50%, 50%);
    color: var(--white);
    left: 50%;
    bottom: 50%;
}

.InnerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(1vh + 10px);
}

.titleLogin{
    font-size: calc(1vw + 24pt);
    line-height: 10px;
    margin: var(--res30px);
}

#User{
    background-color: var(--white);
    padding: var(--res10px);
    transition: outline var(--ease-in-out);
    border: none;
    border-radius: var(--res30px);
}

#User:focus{
    outline: solid var(--darkblue) 5px;
}

#Pass{
    background-color: var(--white);
    padding: var(--res10px);
    transition: outline var(--ease-in-out);
    border: none;
    border-radius: var(--res30px);
}

#Pass:focus{
    outline: solid var(--darkblue) 5px;
}

#login{
    background-color: var(--darkblue);
    border: none;
    border-radius: var(--res30px);
    padding: var(--res10px);
    color: var(--white);
    font-weight: 700;
    width: max-content;
}